body {
  background: #2575fc;
  margin: 40px;
}

.calculator {
  background: #f5f5f5;
  padding: 40px;
  border-radius: 15px;
  width: 320px;
}

.display {
  margin-bottom: 20px;
}

.display input {
  width: 90%;
  height: 60px;
  font-size: 40px;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
  background: #333;
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.buttons button {
  height: 60px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background: #444;
  color: white;
}

.buttons button:hover {
  background: #8c6969;
}

.buttons .equal {
  background: #ff9800;
}


.buttons .clear {
  background: #f44336;
}



